* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-color: #111;
  overflow: hidden;
}

.welcome {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.welcome .welcomeTextContainer {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  z-index: 10;
}

.welcome .header-icon-one,
.welcome .header-icon-two,
.welcome .header-icon-three {
  position: absolute;
  opacity: 0.05;
  z-index: 5;
}

.welcome .header-icon-one {
  width: 9vw;
  top: 70%;
  left: 58%;
  -webkit-animation: rotate-right 55s infinite linear;
          animation: rotate-right 55s infinite linear;
}

.welcome .header-icon-two {
  width: 3vw;
  top: 20%;
  left: 66%;
  -webkit-animation: rotate-left 75s infinite linear;
          animation: rotate-left 75s infinite linear;
}

.welcome .header-icon-three {
  width: 5vw;
  top: 65%;
  left: 18%;
  -webkit-animation: rotate-right 45s infinite linear;
          animation: rotate-right 45s infinite linear;
  z-index: 5;
}

.welcome .welcomeImgContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.welcome .welcomeText {
  display: block;
  color: #333;
  font-size: 50vw;
  cursor: default;
}

.welcome .welcomeImg {
  width: 90%;
}

.nameContainer {
  position: relative;
  height: 100vh;
  padding: 1vw 2vw;
  background-color: rebeccapurple;
}

.nameContainer .name {
  font-size: 17vw;
  color: #333;
  cursor: default;
  text-align: center;
  line-height: 100vh;
}

.nameContainer .name-icon-one,
.nameContainer .name-icon-two {
  position: absolute;
  opacity: 0.05;
  z-index: 5;
}

.nameContainer .name-icon-one {
  width: 8vw;
  top: 14%;
  left: 8%;
  -webkit-animation: rotate-right 65s infinite linear;
          animation: rotate-right 65s infinite linear;
}

.nameContainer .name-icon-two {
  width: 5vw;
  top: 84%;
  left: 88%;
  -webkit-animation: rotate-left 45s infinite linear;
          animation: rotate-left 45s infinite linear;
}

.jobTitleContainer {
  height: 100vh;
}

.jobTitleContainer .jobTitle {
  font-size: 10vw;
  color: #333;
  line-height: 100vh;
  cursor: default;
}

.dark {
  background: url("../img/bg1.png");
}

.purple {
  background: rebeccapurple url("../img/bg2.png");
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30vh;
  padding: 0px 100px;
}

.projects .projectsTitle {
  font-size: 8vw;
  color: #333;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7vw;
  height: 100vh;
}

.projects .project .phone {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 300px;
  height: 600px;
  position: relative;
  cursor: pointer;
}

.projects .project .phone .phoneScreen {
  width: 264px;
  height: 567px;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
}

.projects .project .phone .phoneScreen .phoneApp {
  width: 100%;
}

.projects .project .phone .phoneScreen::-webkit-scrollbar {
  display: none;
}

.projects .project .projectDetail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project .projectDetail .projectTitle {
  font-size: 4vw;
  color: #555;
}

.projects .project .projectDetail .projectDesc {
  font-size: 18px;
  color: #555;
  text-align: justify;
  line-height: 35px;
}

.projects .project .projectButton {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #555;
  color: #555;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.projects .project .projectButton::after {
  content: 'View Demo';
  width: 110%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -110%;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #555;
  color: #222;
}

.projects .project .projectButton:hover.projectButton::after {
  -webkit-transform: translateX(95%);
          transform: translateX(95%);
}

.projects .project:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.laptop {
  width: 600px;
  height: 379px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  cursor: pointer;
}

.laptop .laptopScreen {
  width: 451px;
  height: 283px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: scroll;
}

.laptop .laptopScreen .laptopApp {
  width: 100%;
}

.laptop .laptopScreen::-webkit-scrollbar {
  display: none;
}

.githubContainer {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.githubContainer .githubTitle {
  margin-top: 2vw;
  font-size: 5vw;
  color: #333;
}

.githubContainer .githubChart {
  width: 820px;
  text-align: center;
}

.githubContainer .githubChart .dates {
  padding: 10px;
  color: #555;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.githubContainer .boxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

.githubContainer .boxContainer .box {
  width: 15px;
  height: 15px;
  background-color: #171c25;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 3s all ease;
  transition: 3s all ease;
}

.githubContainer .boxContainer .active:nth-child(4n) {
  background-color: #195b2c;
}

.githubContainer .githubChart:hover .active:nth-child(2n + 1) {
  background-color: #195b2c;
}

.githubContainer .githubChart:hover .active:nth-child(2n) {
  background-color: #063f24;
}

.githubContainer .githubSm {
  display: none;
}

@media screen and (max-width: 1024px) {
  .projects {
    padding: 0 30px;
    text-align: center;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .project:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .phone,
  .laptop {
    -webkit-transform: none !important;
            transform: none !important;
  }
  .githubChart {
    display: none;
  }
  .githubTitle {
    text-align: center;
    font-size: 10vw;
  }
  .githubSm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    color: #555;
    font-size: 30px;
    text-align: center;
  }
}

@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-right {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-left {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=main.css.map */