@keyframes rotate-right {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate-left {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-360deg);
    }
  }
  