* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-color: #111;
  overflow: hidden;
}

.welcome {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;

  .welcomeTextContainer {
    flex: 3;
    z-index: 10;
  }

  .header-icon-one,
  .header-icon-two,
  .header-icon-three {
    position: absolute;
    opacity: 0.05;
    z-index: 5;
  }
  .header-icon-one {
    width: 9vw;
    top: 70%;
    left: 58%;
    animation: rotate-right 55s infinite linear;
  }
  .header-icon-two {
    width: 3vw;
    top: 20%;
    left: 66%;
    animation: rotate-left 75s infinite linear;
  }
  .header-icon-three {
    width: 5vw;
    top: 65%;
    left: 18%;
    animation: rotate-right 45s infinite linear;
    z-index: 5;
  }

  .welcomeImgContainer {
    flex: 1;
  }
  .welcomeText {
    display: block;
    color: rgb(136, 132, 132);
    font-size: 50vw;
    cursor: default;
  }
  .welcomeImg {
    width: 90%;
  }
}

.nameContainer {
  position: relative;
  height: 100vh;
  padding: 1vw 2vw;
  background-color: rebeccapurple;
  .name {
    font-size: 17vw;
    // color: rgb(136, 132, 132);
    color: rgb(211, 199, 199);

    cursor: default;
    text-align: center;
    line-height: 100vh;
  }
  .name-icon-one,
  .name-icon-two {
    position: absolute;
    opacity: 0.05;
    z-index: 5;
  }

  .name-icon-one {
    width: 8vw;
    top: 14%;
    left: 8%;
    animation: rotate-right 65s infinite linear;
  }
  .name-icon-two {
    width: 5vw;
    top: 84%;
    left: 88%;
    animation: rotate-left 45s infinite linear;
  }
}

.jobTitleContainer {
  height: 100vh;
  .jobTitle {
    font-size: 10vw;
    color: rgb(136, 132, 132);
    line-height: 100vh;
    cursor: default;
  }
}
.dark {
  background: url('../img/bg1.png');
}
.purple {
  background: rebeccapurple url('../img/bg2.png');
  .jobTitle {
    color: rgb(211, 199, 199);
  }
}

.about-wrapper {
  background-color: #111;
  height: 100vh;
  background-color: rgb(22, 22, 22);
  color: rgb(165, 156, 156);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 6rem 10px 10px 10px;
  .about {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  .about-img {
    position: relative;
    width: 14vw;
    height: 14vw;

    img {
      width: 100%;
      height: 100%;
      filter: grayscale(100%);

    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      top: -1rem;
      left: -1rem;
      border: 0.3rem solid rgb(165, 156, 156);
    }
  }
  h3 {
    padding-top: 4rem;
    font-size: 1.5rem;
  }
  .about-text {
    width: 70%;
    padding: 3rem 0 7rem 0;
    line-height: 160%;
    font-size: 1.2rem;
    span {
      font-size: 1.25rem;
      font-weight: bolder;
      color: rgb(211, 199, 199);
    }
  }

  .skills {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 3rem;
    font-size: 1.2rem;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    p {
      padding: 3rem 0 7rem 0;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 30vh;
  padding: 0px 100px;
  color: rgb(136, 132, 132);

  .projectsTitle {
    font-size: 8vw;
  }
  .project {
    display: flex;
    align-items: center;
    gap: 7vw;
    height: 100vh;

    .phone {
      flex: 1;
      width: 300px;
      height: 600px;
      position: relative;
      cursor: pointer;

      .phoneScreen {
        width: 264px;
        height: 567px;
        position: absolute;
        top: 17px;
        left: 18px;
        border-radius: 28px;
        overflow: scroll;
        .phoneApp {
          width: 100%;
        }
      }
      .phoneScreen::-webkit-scrollbar {
        display: none;
      }
    }
    .projectDetail {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5vh;
      align-items: center;
      color: rgb(165, 156, 156);

      .projectTitle {
        font-size: 4vw;
        // color: #555;
      }
      .projectDesc {
        font-size: 18px;
        text-align: justify;
        line-height: 35px;
      }
    }
    .projectButton {
      padding: 10px 20px;
      background-color: transparent;
      border: 2px solid rgb(136, 132, 132);
      color: rgb(136, 132, 132);
      cursor: pointer;
      position: relative;
      overflow: hidden;
      text-decoration: none;
    }
    .projectButton::after {
      content: 'View Demo';
      width: 110%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -110%;
      transition: 0.6s all;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #555;
      color: #222;
    }
    .projectButton:hover.projectButton::after {
      transform: translateX(95%);
    }
  }
  .project:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

.laptop {
  width: 600px;
  height: 379px;
  flex: 1;
  position: relative;
  cursor: pointer;

  .laptopScreen {
    width: 451px;
    height: 283px;
    position: absolute;
    top: 18px;
    left: 68px;
    overflow: scroll;

    .laptopApp {
      width: 100%;
    }
  }
  .laptopScreen::-webkit-scrollbar {
    display: none;
  }
}

.githubContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .githubTitle {
    margin-top: 2vw;
    font-size: 5vw;
    color: rgb(136, 132, 132);
  }
  .githubChart {
    width: 820px;
    text-align: center;
    .dates {
      padding: 10px;
      color: rgb(136, 132, 132);
      font-size: 12px;
      display: flex;
      justify-content: space-between;
    }
  }
  .boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    .box {
      width: 15px;
      height: 15px;
      background-color: #171c25;
      border-radius: 2px;
      cursor: pointer;
      transition: 3s all ease;
    }
    .active:nth-child(4n) {
      background-color: #195b2c;
    }
  }
  .githubChart:hover .active:nth-child(2n + 1) {
    background-color: #195b2c;
  }
  .githubChart:hover .active:nth-child(2n) {
    background-color: #063f24;
  }
  .githubSm {
    display: none;
  }
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  background-color: rebeccapurple;
  .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    .contact-box {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0;
      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #111;
        opacity: 0.75;
      }
      span {
        z-index: 1;
        padding: 0.5rem 1rem;
        background-color: rebeccapurple;
        color: #111;
      }
    }
    p {
      padding: 0.5rem 1rem;
      color: rgb(211, 199, 199);
      span {
        font-weight: bolder;
        letter-spacing: 0.3px;
      }

      a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: bolder;
        color: rgb(211, 199, 199);
        padding: 0.5rem 1rem;
        transition: 0.3s;
        &:hover {
          color: rgb(180, 168, 168);
        }
      }
    }
    .copyright {
      margin-top: 2rem;
      .year {
        font-weight: normal;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .projects {
    padding: 0 30px;
    text-align: center;
  }

  .project {
    flex-direction: column;
    height: max-content;
  }
  .project:nth-child(2n) {
    flex-direction: column;
  }

  .phone,
  .laptop {
    transform: none !important;
  }

  .githubChart {
    display: none;
  }

  .githubTitle {
    text-align: center;
    font-size: 10vw;
  }

  .githubSm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #555;
    font-size: 30px;
    text-align: center;
  }
}

@keyframes rotate-right {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-left {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}
